<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<style type="text/css">
			html,body{font-size: 14px;}
		</style>
	</head>
	<body style="padding:10px" ng-app="app">
		<div ng-controller="MyCtrl" >
			<input type="text"  ng-model="name"/>
			<button class="button" ng-click="adduser()">添加</button>
			
		</div>
	</body>
	<script type="text/javascript" src="js/angular.min.js" ></script>
	<script type="text/javascript" src="js/app2.js" ></script>
</html>
