<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/foundation.min.css" />
	</head>
	<body style="padding: 10px;" ng-app="app">
		<div ng-controller="FirstCtrl">
			<input type="text" ng-model="msg" />
			<h1>{{msg}}</h1>
		</div>
		<div ng-controller="NextCtrl">
			<!--<input type="text" ng-model="msg" />-->
			<h1 ng-bind="msg"></h1>
		</div>
	</body>
	<script type="text/javascript" src="js/angular.min.js" ></script>
	<script type="text/javascript" src="js/MyCtrl2.js" ></script>
</html>
